/*===============Main Content============*/
main h2 {
  text-align: center;
}
main section h2 a, main section p a {
  text-decoration: none;
  color: black;
}
main img {
  width: 8em;
  max-height: 100%;
  display: inline-block;
}
main p {
  margin: 0.5em 0 0 1em;
  display: inline-block;
  max-width: 80%;
}