.debug {
  border: red 0px solid;
}
html {
  background-color: #F2F2F4;
  font-family: Garamond, sans-serif;
}
.col-2 {
  width: 45%;
  display: inline-block;
}
.col-3 {
  width: 30%;
  display: inline-block;
  margin: auto auto;
}
.col-30 {
  width: 28%;
}
.col-70 {
  width: 68%;
}
/*Clearfix strategy Josh implemented in DBC video about adding content to floats, which are seen as empty. https://talks.devbootcamp.com/sensible-css======*/

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }
/*==========*/
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
/*=================NAV==================*/
nav {
  background-color: #A8A8A8;
}
.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0.7em;
}
ul {
  margin: 0;
  padding: 0;
  background-color: #A8A8A8;
}
ul li {
  /*margin: 1.4em 0.5em ;*/
  padding: 1.4em 0.5em;
  list-style-type: none;
}
ul li a {
  padding: 10px;
  text-decoration: none;
  color: #F2F2F4;
}
ul li a:hover {
  background:#8A8A8A ;color:#FFF ;border-radius: 5px;
}
/*Figure out sliding menu later*/
/*.menu {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}*/
.menu-icon {
  float: right;
  font-size: 17px;
  padding: 13px 20px;
  background: #A8A8A8;
  color: #8A8A8A;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  display: none;
  border-style: none;
}
/*===============Banner=================*/
header {
  display: block;
  height: 20em;
  width: 100%;
  padding: 2em 0;
  border-bottom: 1px gray dotted;
}
header {
  background-image: url("../img/sunset_banner.jpeg");
  background-size: 100% 100%;
}
header img {
  margin: 0 auto;
  display: block;
  width:100%;
  max-height: 100%
}
header h1 {
  position: absolute;
  color: #F2F2F4;
  width: 100%;
  text-align: center;
  margin: 2em 0;
}

header h3{
  position: absolute;
  color: #F2F2F4;
  width: 100%;
  text-align:center;
  margin: 6em 0;
}
/*============Main Content==============*/
main {
  display: block;
  padding: 1em 0;
  border-bottom: 1px gray solid;
}
/*code block*/
pre {
  display: block;
  margin: 2em 0;
  white-space: pre;
  overflow: auto;
  width: 520px;
  line-height: 1.4;
  border: 1px solid #ccc;
  background: #ece9d8;
  padding: 8px;
}
/*=================Footer===============*/
footer {
  padding: 2em 0;
}
footer a {
  margin: 1em;
}
footer a img {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 640px) {
  .menu {
    width: 98%;
  }
  .menu {
    display: none;
  }
  .menu li {
    width: 98%;
    padding: 1.4em 0;
    text-align: center;
    border-top: 1px solid grey;

  }
  .menu-icon {
    display: block;
  }
  /*Vertical Aligning Main section*/
  .col-2 {
    width: 99%;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
}
